@font-face {
  font-family: playfair;
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --banner-blue: #00a2ff;
  --banner-light-blue: #00f7ff;
  --page-background-color: rgba(255, 250, 243, 0.897);
}

body {
  width: 100%;
  height: auto;
  background-color: var(--page-background-color);
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: 0% 0%;
}

.skew {
  transform: skewY(-10deg);
}

.blue {
  background-color: var(--banner-blue);
}

.light-blue {
  background-color: var(--banner-light-blue);
}

.img-wrapper {
  width: min(100vw - 20px, 400px);
  position: relative;
}

.profile-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.img-title {
  position: absolute;
  color: white;
  font-size: 60px;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.aboutMe {
  height: auto;
  width: min(100vw - 40px, 600px);
  background-color: white;
  padding: 1rem;
}

.box-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.playfair-font {
  font-family: playfair;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
}

.aboutMeContainer * {
  margin: 10px 0;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  min-width: min(20%, 40px);
}

.aboutMeContainer p {
  font-size: 20px;
}

.work-section {
  width: 100%;
  /* height: 100vh; */
  padding: 40px;
}

.wrapper h2 {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  gap: 30px;
}

.card {
  background-color: white;
  /* border-radius: 8px; */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 400px;
}

.card-image {
  height: 70%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

.card-details {
  height: 30%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* text-align: center; */
}

.card-details h3 {
  margin: 10px 0;
  font-size: 1.3em;
}

.card-details-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.fa,
a.fa-brands {
  text-decoration: none;
  padding-right: 5px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.card-details p {
  padding-right: 10px;
  color: #666;
}

.footer-style {
  height: 8px;
}

.footer {
  background: var(--banner-blue);
  color: white;
}

.footer .wrapper {
  display: flex;
  justify-content: center;
}

.footer .wrapper > * {
  padding: 60px 40px;
}

.social-icons.footer-icons {
  color: black;
  justify-content: flex-start;
}

.contact-info p,
.contact-info h2 {
  margin-bottom: 15px;
}

.footer .img-wrapper {
  width: min(100vw - 20px, 550px);
}

.footer img {
  display: block;
  width: 100%;
  margin: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: playfair;
  letter-spacing: 0.02em;
  line-height: 1em;
}

h2 {
  font-size: 50px;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

@media (max-width: 1100px) {
  .img-wrapper h1 {
    font-size: 48px;
  }

  .aboutMe {
    margin: auto;
  }

  .footer .wrapper {
    align-items: center;
    flex-direction: column;
  }

  .contact-info {
    text-align: center;
  }

  .social-icons.social-icons {
    justify-content: center;
  }

  .footer .img-wrapper {
    width: calc(100vw - 40px);
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .header .wrapper {
    display: block;
  }

  .header .img-wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
  }
  .aboutMe {
    width: min(100vw - 40px, 650px);
  }
}

@media (max-width: 800px) {
  .header .wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .aboutMe {
    margin: 0;
  }

  body {
    overflow-x: hidden;
  }

  .work-section {
    margin-top: 50px;
  }
  .card-image img {
    object-fit: contain;
  }
}
